name: Build and Push UI
on:
  push:
    branches: [ "main" ]
    paths:
      - 'frontend/src/**'
      - 'frontend/public/**'
      - 'frontend/package.json'
      - 'frontend/docker/Dockerfile.ui'
jobs:
  build-ui:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - uses: docker/build-push-action@v4
        with:
          context: ./frontend
          file: ./frontend/docker/Dockerfile.ui
          push: true
          tags: |
            wayneshaw349/kasvillage-ui:latest
            wayneshaw349/kasvillage-ui:${{ github.sha }}
